.column {
    float: left;
    width: 50%;
  }
  input{
      margin: 7px;
      padding: 7px;
  }
  button{
      background-color: #596D48 ;
      padding: 5px;
      border-color: #596D48 ;
  }
  .btn:hover{
      cursor: pointer;
  }
  a, p{
      text-decoration: none;
      font-weight: bold;
  }
  .image{
    position: absolute;
}
.logo{
    display: flex;
    position: relative;
    margin-top: 10rem;
    margin-left: 10rem;
}
.logo>h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
  